/* Navbar */
#navbarSupportedContent{
  font-size: 1rem;
}
#navbar{
  margin-bottom: .5rem;
}

/* About */
#about {
  max-width: 90%;
  margin: auto;
  margin-bottom: 3rem;
}
#about h1 {
  font-size: 3.5rem;
}

#about .container{
  background:#3A4958;
  color:#FFFFFF;
  padding: 2rem 1rem;
}

#prizes * {
  text-align: center;
}
#prizes h1 {
  font-size: 3.5rem;
}
#prizes h2 {
  font-size: 2rem;
}
#rulesRegs h1 {
  text-align: center;
}

#applyButton {
  width: 8rem;
  display: block;
  margin: auto;
  color: #3A4958;
}


.email-widget {
  margin: 1rem auto;
  padding: 1rem;
  border: 1px solid #d5dadd;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  border-radius: 1rem;
  border-collapse: separate;
}



.button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  border-radius: 6px;
}

/* Header and Footer */
.header {
  position: relative;
  min-height: 5rem;
  padding: 2rem 2rem;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
  background-size: cover;
}

.footer {
  margin-top: 1rem;
  padding-top: 1.8rem;
  padding-bottom: 1.3rem;
  color: #99979c;
  text-align: center;
  background-color: #2a2730;
}
.search-label {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 0rem;
}
.content-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Team */
.social-media {
  margin: 1rem auto;
}
